<div class="playingCards faceImages">
<app-game-card *ngFor="let card of cardsUser"
               [rank]="card.rank"
               [suit]="card.suit"></app-game-card>
</div>
<hr/>
<button (click)="addCardToUser()" [disabled]="switchOffButton()" class="btn">Give another card</button>
<button (click)="reset()" class="btn">Reset</button>
<hr/>
<span>Score: {{printScore()}}</span>
<hr/>
<span>{{getResult()}}</span>
